In [2]:
import pandas as pd
from sklearn import linear_model,metrics
from sklearn.model_selection import GridSearchCV
from scipy.stats import boxcox
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns
from datetime import date
sns.set()
%matplotlib inline

In [3]:
train_df = pd.read_csv("train_prepared_vip_majority.csv")
test_df = pd.read_csv("test_prepared_vip_majority.csv")

In [4]:
test_id = test_df["PassengerId"]

### Logisticやります
やりかたよくわかってない
  
- `train loop`を決める(?)

In [5]:
def train(df):
    df["preds"] = pd.NA

    drop = ["Transported","preds","kfold"]

    for fold in range(5):
        train = df[df["kfold"] != fold]

        y_train = train["Transported"].values
        x_train = train.drop(drop,axis=1).values

        val = df[df["kfold"] == fold]

        y_val = val["Transported"].values
        x_val = val.drop(drop,axis=1).values

        # model = RandomForestClassifier(max_depth=10,max_features="auto",n_estimators=100)
        model = linear_model.LogisticRegression(max_iter=1000)
        model.fit(x_train,y_train)

        preds = model.predict(x_val)
        df.loc[val.index,"preds"] = preds

        acc = metrics.accuracy_score(y_val,preds)
        print(f"Fold{fold+1}-Accuracy = {acc:.4f}")
    
    df[drop] = df[drop].astype(int)

    # 全体の正解率計算
    acc = metrics.accuracy_score(df["Transported"].values,df["preds"].values)
    print(f"Overall accuracy:{acc:.4f}")

    return df,model

In [ ]:
# グリッドサーチする
def grid(df):
    df["preds"] = pd.NA
    drop = ["Transported","preds"]
    max_score    = 0
    SearchMethod = 0

    LR_grid = {linear_model.LogisticRegression(): {"C": [10 ** i for i in range(-5, 6)],
                                    "random_state": [i for i in range(0, 101)]}}

    for model,param in LR_grid.items():
        y_train = df["Transported"].values
        x_train = df.drop(drop,axis=1).values
        
        clf = GridSearchCV(model,param)
        clf.fit(x_train,y_)

In [6]:
test_id = test_df["PassengerId"]
del test_df["PassengerId"]

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Alone,RoomService_missing,...,GroupSize_7,GroupSize_8,CabinDeck_A,CabinDeck_B,CabinDeck_C,CabinDeck_D,CabinDeck_E,CabinDeck_F,CabinDeck_G,CabinDeck_T
0,1.0,-0.116957,0.0,-0.361266,-0.287719,-0.316173,-0.271297,-0.249197,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,-0.681236,0.0,-0.361266,-0.281826,-0.316173,2.255891,-0.249197,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.165182,0.0,-0.361266,-0.287719,-0.316173,-0.271297,-0.249197,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.658927,0.0,-0.361266,4.067167,-0.316173,-0.109263,0.219987,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,-0.610702,0.0,-0.344790,-0.287719,0.816230,-0.271297,-0.249197,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [7]:
test_df_values = test_df.values

In [8]:
train_df.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Alone,RoomService_missing,...,CabinDeck_A,CabinDeck_B,CabinDeck_C,CabinDeck_D,CabinDeck_E,CabinDeck_F,CabinDeck_G,CabinDeck_T,Transported,kfold
0,0.0,0.702095,0.0,-0.337025,-0.284274,-0.287317,-0.273736,-0.266098,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,-0.333233,0.0,-0.173528,-0.278689,-0.245971,0.209267,-0.227692,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3
2,0.0,2.013510,1.0,-0.272527,1.934922,-0.287317,5.634034,-0.223327,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
3,0.0,0.287964,0.0,-0.337025,0.511931,0.326250,2.655075,-0.097634,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
4,0.0,-0.885407,0.0,0.117466,-0.240833,-0.037590,0.223344,-0.264352,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,4

In [9]:
# CabinNumとGrpupId以外
train_df_exp1,model = train(train_df.copy())

Fold1-Accuracy = 0.7872
Fold2-Accuracy = 0.7867
Fold3-Accuracy = 0.7936
Fold4-Accuracy = 0.7975
Fold5-Accuracy = 0.7969
Overall accuracy:0.7924

In [10]:
pred = model.predict(test_df_values)

In [10]:
ans_df = pd.DataFrame()
ans_df["PassengerId"] = test_id
ans_df["Transported"] = pred.astype(bool)

In [11]:
ans_df.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [12]:
def submit_date(count=1):
    d = "submit/submit_"
    today = date.today()
    d += f"{today.month}{today.day}_{count}.csv"

    return d

In [13]:
ans_df.to_csv(submit_date(2),index=False)

### `train`関数
1. `Transported`,`preds`,`kfold`は学習に使わないよ！

``` python
for fold in range(5)
```

2. kfoldの回数である5回回して学習させるよ！

``` python
train = df[df["kfold"] != fold]
```

- 各イテレートにおうじてtrainデータ決める
- `y_train`は到着できたかどうか
- `x_train`は各データ
- `y_val`,`x_val`も一緒

3. modelはロジスティック回帰を`max_iter`1000にするよ！
4. 学習！
5. 予測！
6. dfに代入！！
7. 正解率計算！
8. owari

In [14]:
#1.0が正解，0.0がミスとして見てみたい
wrong = train_df_exp1[train_df_exp1["Transported"] != train_df_exp1["preds"]]

In [15]:
wrong["GroupSize_1"].value_counts()

1.0    1101
0.0     704
Name: GroupSize_1, dtype: int64

In [16]:
wrong.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1805 entries, 0 to 8689
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CryoSleep                  1805 non-null   float64
 1   Age                        1805 non-null   float64
 2   VIP                        1805 non-null   float64
 3   RoomService                1805 non-null   float64
 4   FoodCourt                  1805 non-null   float64
 5   ShoppingMall               1805 non-null   float64
 6   Spa                        1805 non-null   float64
 7   VRDeck                     1805 non-null   float64
 8   Alone                      1805 non-null   float64
 9   RoomService_missing        1805 non-null   float64
 10  FoodCourt_missing          1805 non-null   float64
 11  ShoppingMall_missing       1805 non-null   float64
 12  Cabin_missing              1805 non-null   float64
 13  VIP_missing                1805 non-null   float64
 14  TotalExpense_missing       1805 non-null   float64
 15  TotalExpense               1805 non-null   float64
 16  CabinSide                  1805 non-null   float64
 17  HomePlanet_Earth           1805 non-null   float64
 18  HomePlanet_Europa          1805 non-null   float64
 19  HomePlanet_Mars            1805 non-null   float64
 20  Destination_55 Cancri e    1805 non-null   float64
 21  Destination_PSO J318.5-22  1805 non-null   float64
 22  Destination_TRAPPIST-1e    1805 non-null   float64
 23  GroupSize_1                1805 non-null   float64
 24  GroupSize_2                1805 non-null   float64
 25  GroupSize_3                1805 non-null   float64
 26  GroupSize_4                1805 non-null   float64
 27  GroupSize_5                1805 non-null   float64
 28  GroupSize_6                1805 non-null   float64
 29  GroupSize_7                1805 non-null   float64
 30  GroupSize_8                1805 non-null   float64
 31  CabinDeck_A                1805 non-null   float64
 32  CabinDeck_B                1805 non-null   float64
 33  CabinDeck_C                1805 non-null   float64
 34  CabinDeck_D                1805 non-null   float64
 35  CabinDeck_E                1805 non-null   float64
 36  CabinDeck_F                1805 non-null   float64
 37  CabinDeck_G                1805 non-null   float64
 38  CabinDeck_T                1805 non-null   float64
 39  Transported                1805 non-null   int32
 40  kfold                      1805 non-null   int32
 41  preds                      1805 non-null   int32
dtypes: float64(39), int32(3)
memory usage: 585.2 KB

In [17]:
wrong.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Alone,RoomService_missing,...,CabinDeck_B,CabinDeck_C,CabinDeck_D,CabinDeck_E,CabinDeck_F,CabinDeck_G,CabinDeck_T,Transported,kfold,preds
0,0.0,0.702095,0.0,-0.337025,-0.284274,-0.287317,-0.273736,-0.266098,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
1,0.0,-0.333233,0.0,-0.173528,-0.278689,-0.245971,0.209267,-0.227692,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,3,0
4,0.0,-0.885407,0.0,0.117466,-0.240833,-0.037590,0.223344,-0.264352,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,4,0
5,0.0,1.047204,0.0,-0.337025,0.015467,-0.287317,-0.017718,-0.266098,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,4,0
14,0.0,-0.057145,0.0,-0.325026,0.320172,-0.267471,-0.271976,-0.259988,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0

In [18]:
test_df.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Alone,RoomService_missing,...,GroupSize_7,GroupSize_8,CabinDeck_A,CabinDeck_B,CabinDeck_C,CabinDeck_D,CabinDeck_E,CabinDeck_F,CabinDeck_G,CabinDeck_T
0,1.0,-0.116957,0.0,-0.361266,-0.287719,-0.316173,-0.271297,-0.249197,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,-0.681236,0.0,-0.361266,-0.281826,-0.316173,2.255891,-0.249197,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.165182,0.0,-0.361266,-0.287719,-0.316173,-0.271297,-0.249197,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.658927,0.0,-0.361266,4.067167,-0.316173,-0.109263,0.219987,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,-0.610702,0.0,-0.344790,-0.287719,0.816230,-0.271297,-0.249197,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0